extends layout

block content
    h1 Register
    p Please register using the form below:-
    form(method='post',action='/register',enctype='multipart/form-data')
        .form-group
            label User Name
            input.form-control(name='Username',type='text')
        .form-group
            label Password
            input.form-control(name='Password',type='password')
        input.btn.btn-default(name='Submit',type='submit',value='Submit')